.graphName {
  font-weight: bold;
  color: white;
  padding-bottom: 10px;
}

.graphHolder {
  width: 100%;
  color: white;
  border-radius: 20px;
  height: 200px !important;
  font-size: 14px !important;
  font-weight: 400 !important;
  padding: 0px !important;
  margin: 0px !important;
  display: flex !important;
}

.customTooltip {
  background-color: white;
  border: 1px solid gray;
  color: black;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 2px 2px 5px slategray;
  max-width: 280px;
  opacity: 0.95;
}

.label {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 15px;
  border-bottom: 2px solid gray;
}

.secondaryLabel {
  font-size: 18px;
  margin-bottom: 5px;
}

.yAxis {
  color: white;
  font-size: 12px;
  font-weight: bold;
  padding: 5px;
}
