.mainDisplay {
  display: flex;
  height: calc(100vh - 70px);
  width: 100vw;
  position: sticky;
}

.mainDisplayMobile {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 70px);
  width: 100vw;
  position: sticky;
}

.underConstruction {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-self: unset;
  margin-left: 40px;
  margin-right: 40px;
  margin-top: 40px;
  font-size: 20px;
}

.commentary {
  margin-top: 10px;
}

.hoverUnderline {
  color: dodgerblue;
}

.hoverUnderline:hover {
  text-decoration: underline;
}

.collections {
  width: 100%;
}
