.rightSide {
  width: calc(100% / 4);
  padding-left: 10px;
  padding-right: 10px;
  overflow-y: scroll;
  opacity: 0;
  transition: opacity 0.3s ease;
  display: block;
}

.mobileRightSide {
  padding-top: 10px;
  width: 100%;
  padding-left: 10px;
  padding-right: 10px;
}

.fadeIn {
  opacity: 1;
}

.fadeOut {
  opacity: 0;
}

.removeDisplay {
  display: none;
}
