.tableHeader {
  display: flex;
  background-color: dodgerblue;
  padding: 10px;
}

.labeledItem {
  width: calc(100% / 4);
  font-weight: 600;
}

.table {
  margin-top: 10px;
}

.result {
  width: calc(100% / 4);
}

.mark {
  width: calc(100% / 7);
}

.markLabel {
  width: calc(100% / 7);
  font-weight: 600;
}

.venue {
  width: calc(100% / 4);
  margin-left: 20px;
  margin-right: 20px;
}

.venueLabel {
  width: calc(100% / 4);
  margin-left: 20px;
  margin-right: 20px;
  font-weight: 600;
}

.tableRow {
  display: flex;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.tableRowAlternate {
  display: flex;
  align-items: center;
  background-color: #f3f3f3;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
}
