.pageLabel {
  font-weight: bold;
  font-size: 30px;
}

.topBarHolder {
  display: flex;
  width: 100vw;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  justify-content: space-between;
}

.leftItems {
  display: flex;
  align-items: last baseline;
}

.pageAction {
  margin-left: 10px;
  font-style: italic;
}

.basicInput {
  margin-top: 5px;
  width: 100%;
  height: 50px;
  border-radius: 25px;
  outline: none;
  font-size: 18px;
  padding: 20px;
  border: none;
  box-shadow: 2px 2px 5px slategray;
}

.fullWidth {
  margin-top: 20px;
  width: 100%;
  background-color: #1095e5;
  height: 50px;
  border-radius: 25px;
  font-size: 18px;
}

.fullWidthLogin {
  background-color: #1095e5;
  border-radius: 15px;
  font-size: 16px;
  display: flex;
  align-items: center;
}

.fullWidthBackButton {
  margin-top: 10px;
  width: 100%;
  color: gray;
  height: 50px;
  font-size: 18px;
}

.userLoggedIn {
  display: flex;
  align-items: last baseline;
}

.userName {
  font-weight: 600;
  margin-left: 3px;
}

.noAccountYet {
  display: flex;
  margin-top: 30px;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

.signUpButton {
  display: flex;
  color: #1095e5;
  margin-left: 3px;
}

.signUpButton:hover {
  text-decoration: underline;
  cursor: pointer;
}

.rightItems {
  display: flex;
  align-items: center;
}

.welcomeForUser {
  margin-right: 5px;
  display: flex;
  align-items: last baseline;
}

.callOut {
  display: flex;
  align-items: center;
  justify-content: center;
}

.baseIcon {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}

.subMessageHolder {
  margin-top: 10px;
  margin-bottom: 10px;
}

.subMessage {
  color: #667885;
  display: flex;
  justify-content: center;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.subMessageWithMargin {
  color: #667885;
  display: flex;
  justify-content: center;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-top: 5px;
}

.inputLabel {
  color: #4e5963;
}

.inputContainer {
  margin-bottom: 20px;
}

.basicContainer {
  opacity: 1;
  transition: opacity 1s ease;
}

.basicContainer1 {
  opacity: 0;
  transition: opacity 0.5s ease;
}

.fade {
  opacity: 0;
}

.fadeIn {
  opacity: 1;
}

.modalWithHeight {
  transition: 'height 0.3s ease-in-out',
}