.container {
  width: 100%;
  height: 600px;
  overflow-y: scroll;
  line-height: 30px;
}


.summaryHolder h2 {
}

.summaryHolder li {
  margin-left: 35px;
}

.summaryHolder p {
  border-left: 2px solid dodgerblue;
  padding-left: 10px;
  margin-bottom: 5px;
  font-size: 16px;
}

.summaryHolder h2 {
  font-size: 25px;
}
