.leftSide {
  width: calc(100% / 3.5);
  position: relative;
  padding-left: 10px;
  padding-right: 10px;
}

.mobileLeftSide {
  padding-left: 10px;
  padding-right: 10px;
  width: 100%;
}

.searchBar {
  width: 100%;
  height: 50px;
  border: 2px solid transparent;
  border-radius: 25px;
  font-size: 20px;
  padding-left: 50px;
  position: relative;
  box-shadow: 2px 2px 5px slategray;
}

.searchBar:focus {
  border: 2px solid dodgerblue;
  outline: none;
}

.searchBarFocused {
  width: 100%;
  height: 50px;
  border: 2px solid transparent;
  border-radius: 25px;
  font-size: 20px;
  padding-left: 50px;
  position: relative;
  border: none;
  outline: none;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

.searchBarFocused:focus {
  border: 2px solid dodgerblue;
  border-bottom: none;
  outline: none;
}

.searchIcon {
  position: absolute;
  z-index: 1000;
  color: gray;
  margin-left: 20px;
  height: 100%;
}

.xButton {
  background-color: red;
  position: absolute;
  margin-bottom: 50px;
}

.xButton:hover {
  background-color: lightgray;
  cursor: pointer;
  transition: background-color 0.5s;
}

.searchResults {
  background-color: white;
  height: 300px;
  overflow-y: scroll;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  position: absolute;
  z-index: 1000;
  width: calc(100% - 20px);
  border-top: none; 
  border: 2px solid dodgerblue;
}

.singleResult {
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  padding-left: 10px;
}

.noResults {
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  padding-left: 10px;
}

.singleResult:hover {
  background-color: lightgray;
  transition: background-color 0.5s;
  cursor: pointer;
}

.searchResultImage {
  width: 80px;
  height: 80px;
  object-fit: cover;
  border-radius: 10px;
}

.textDisplay {
  margin-left: 10px;
}

.fullName {
  font-weight: bold;
}

.disciplines {
  color: gray;
  font-size: 12px;
  font-weight: 100;
}

.comparison {
  width: 100%;
  margin-top: 10px;
  border-radius: 20px;
  height: 50px;
  font-size: 20px;
  background-color: lightslategray;
}

.animatedButton {
  animation: slidein 0.5s;
}

@keyframes slidein {
  from {
    transform: translateX(-50%);
  }

  to {
    transform: translateX(0%);
  }
}

.basicContainer {
  position: absolute;
  width: 100%;
  bottom: 0;
  animation: slideUp 2s;
}

.pageCredit {
  margin-top: auto;
  display: flex;
  overflow-y: scroll;
  width: calc(100% - 20px);
}

.basicImageWithSlightMargin {
  max-height: 25px;
  margin-right: 10px;
  padding-bottom: 2px;
  border-bottom: 2px solid transparent;
}

.basicImageWithSlightMargin:hover {
  cursor: pointer;
  border-bottom: 2px solid #1095e5;
  transition: border-bottom 0.5s ease;
}

.poweredBy {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

.pageCredit::-webkit-scrollbar {
  width: 12px; /* Adjust the width as needed */
}

.pageCredit::-webkit-scrollbar-thumb {
  background-color: transparent; /* Set the thumb color to transparent */
}

@keyframes slideUp {
  from {
    transform: translateY(130%);
  }

  to {
    transform: translateY(0%);
  }
}

.inputHolder {
  height: 50px;
  width: 100%;
  position: relative;
}

.linearProgress {
  position: absolute;
  z-index: 1000;
  color: gray;
  margin-left: calc(100% - 40px);
  height: 100%;
  top: 15px; 
}

.closeIcon {
  position: absolute;
  z-index: 1000;
  color: gray;
  margin-left: calc(100% - 40px);
  height: 100%;
} 
