.basic {
  padding-left: 10px;
  width: calc((calc(100% / 2) + calc(100% / 3.5)));
  margin-right: 10px;
  animation: slideUp 0.5s;
}

@keyframes slideUp {
  from {
    transform: translateY(50%);
  }

  to {
    transform: translateY(0%);
  }
}

.topItems {
  display: flex;
  align-items: center;
}

.goBack {
  width: fit-content;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.goBack:hover {
  background-color: gray;
  transition: background-color 0.5s;
  cursor: pointer;
}

.collections {
  background-color: #f8f9fd;
  width: calc(100% / 3);
  padding: 10px;
  border-radius: 10px;
  color: white;
}

.topItems {
  display: flex;
  margin-right: 10px;
}

.contentHolder {
  display: flex;
  margin-top: 10px;
  margin-right: 10px;
  height: calc(100% - 50px);
  margin-left: 5px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 2px 2px 5px slategray;
}

.myCollections {
  font-size: 18px;
}

.panel {
  width: 100%;
  height: 100%;
  margin-left: 5px;
  overflow-y: scroll;
  padding-bottom: 20px;
}

.collection {
  margin-bottom: 10px;
  background-color: #ecedf1;
  border-radius: 10px;
  padding: 10px;
  color: #04053d;
  display: flex;
  justify-content: space-between;
}

.selected {
  margin-bottom: 10px;
  background-color: #536371;
  border-radius: 10px;
  padding: 10px;
  color: white;
  display: flex;
  justify-content: space-between;
}

.collection:hover {
  cursor: pointer;
  box-shadow: 1px 1px 5px slategray;
  transition: box-shadow 0.7s;
}

.collectionName {
  font-size: 18px;
  font-weight: 600;
}

.collectionCreated {
  color: #adb1b9;
  font-size: 12px;
}

.competitor {
  font-size: 20px;
  background-color: white;
  border-radius: 20px;
  padding: 10px;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10px;
  box-shadow: 2px 2px 5px slategray;
}

.topItems {
  display: flex;
}

.competitorImage {
  min-width: 80px;
  max-width: 80px;
  height: 80px;
  object-fit: cover;
  border-radius: 15px;
}

.competitorName {
  font-size: 18px;
  font-weight: 600;
}

.criticalInfo {
  margin-left: 10px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.disciplines {
  color: #536371;
  font-size: 14px;
  font-style: italic;
}

.competitorSummary {
  height: 0px;
  overflow: hidden;
  text-overflow: ellipsis;
  transition: height 0.5s ease-in-out;
  line-height: 30px;
  border-radius: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.rightItems {
  cursor: pointer;
  height: fit-content;
  display: flex;
  align-items: center;
  padding: 5px;
  border-radius: 50%;
  font-weight: bold;
}

.rightItems:hover {
  background-color: white;
  transition: background-color 1s;
}

.nothingHereYet {
  display: flex;
  align-items: center;
}

.rightItemsContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.textLabels {
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.noCollectionsYet {
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10px;
}

.collectionLabel {
  font-size: 22px;
  font-weight: 600;
  padding-top: 5px;
  padding-bottom: 5px;
  border: 2px solid transparent;
  border-radius: 10px;
  padding: 10px;
  width: calc(100% - 100px);
}

.collectionLabel:focus {
  border: 2px solid #04053d;
}

.collectionLabel:hover {
  border: 2px solid #04053d;
  transition: border 0.5s;
}

.smallPadding {
  margin-left: 10px;
  cursor: pointer;
}

.smallMargin {
  margin-left: 3px;
  margin-right: 3px;
}
